#KAORI -NO TOCAR NI INSTALAR NADA EN ESTE ARCHIVO
flask==3.0.3
flask-cors==4.0.1
mysql-connector-python==8.4.0
pandas==2.2.2
openpyxl==3.1.4
python-dotenv==1.0.1

# ALEX - NUEVA DEPENDECIA (SE VERA SI SE USA EL MAIN.PY)
# Se requiere python 3.11
openpyxl
mysql-connector-python
